* {
    font-size: 20px;
    text-align: center;
    background-color: rgb(197, 224, 255);
}
.container {
    text-align: center;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
.footer {
   margin-top: auto;
}

#choices ul li {
    display: block;
    padding: 3px;
    
}